{% extends "layout.html" %}
{% block content %} 




<div id="login" >

    <div class="content" id="login" >
        <h2 class="content-head is-center">Login</h2>


        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5" id="login-col">
               
                
                       {% include "flash.html" %}  
                        <fieldset>

                          <p>Welcome! Thanks for signing up. Please follow this link to activate your account:</p>
<p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
<br>
<p>Cheers!</p>

                  </fieldset>
            </div>
        </div>
    </div>
</div>

                    
  {% endblock %}     
